<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.aipova.skintracker">

    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18" />

    <application
        android:name=".SkinTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.trackpager.TrackPagerActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/diary">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.statistics.StatisticsActivity"
            android:label="@string/menu_statistics"
            android:parentActivityName=".ui.trackpager.TrackPagerActivity"/>

        <activity
            android:name=".ui.trackvalues.TrackValuesActivity"
            android:parentActivityName=".ui.trackpager.TrackPagerActivity"/>

        <activity
            android:name=".ui.tracktype.TrackTypeActivity"
            android:label="@string/menu_track_type_settings"
            android:parentActivityName=".ui.trackpager.TrackPagerActivity"/>

       <provider
           android:authorities="ru.aipova.skintracker.fileprovider"
           android:name="android.support.v4.content.FileProvider"
           android:exported="false"
           android:grantUriPermissions="true">
           <meta-data
               android:name="android.support.FILE_PROVIDER_PATHS"
               android:resource="@xml/file_paths"/>

       </provider>

    </application>

</manifest>